<div>
    <p>Добавление продукта:</p>
    <div class="product-form">
        <form [formGroup]="productForm" (ngSubmit)="save()" #form="ngForm">
            <label>Название продукта:
                <input type="text" formControlName="productName">
            </label>
            <br>
            <label>Артикул продукта:
                <input type="number" formControlName="productArticle">
            </label>
            <br>
            <label>Описание продукта:
                <input type="text" formControlName="productDescription">
            </label>
            <br>
            <label>Категория продукта:
                <select formControlName="productCategory">
                    <option value="null"
                            [attr.selected]="true"
                            [attr.disabled]="true">
                        Выберите категорию
                    </option>
                    <option *ngFor="let category of categories"
                            [value]="category">
                        {{category}}
                    </option>
                </select>
            </label>

        </form>
        <br>
    </div>
    <div class="product-actions">
        <button class="product-actions__cancel" type="button" routerLink="/admDashboard/catalog/">Отмена</button>
        <button class="product-actions__submit" type="submit" [disabled]="!productForm.valid" (click)="form.ngSubmit.emit()">Сохранить</button>
    </div>
</div>
